/* css style of comments */ 
/* https://css-tricks.com/snippets/css/complete-guide-grid/ */


/* all common devices screen resolution */
.popup{
  position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
}

.body_index {
    margin:0px;
    font-family: Arial, Helvetica, sans-serif;
    border:0px;
    height: fit-content;
    /* overflow: hidden;*/

}
.main_index{
    /*background-image: url("../pic/student/student_girl.jpg");*/
    background-color: #6670ff;
    color: #fff;  
}

.footer_box{
    color: #fff;
    width:100%;
    border: 0px;
  
}

.index_pictures{
    display: grid;
    grid-gap: 0px;
    grid-template-columns: repeat(auto-fill, 1fr);
    grid-template-rows: repeat(auto-fill, 1fr);
    background-color: white;
    color: rgb(255, 255, 255);
}

.box_index{
    
        background-color: white;
        color: #fff;
        border-radius: 0px;
        padding: 0px;
        font-size: 75%;
        text-align:center;
        font-weight:bold;
      
}
.picture_1 {

    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
  
  }
  .picture_2 {

    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
  
  }
  .picture_3 {

    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
  
  }
  .picture_4 {

    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
  
  }
  .picture_5 {

    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
  
  }
  .picture_6 {

    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
  
  }
  .picture_7 {

    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
  
  }
  .picture_9 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
  
  }
  .picture_9 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
  
  }
  .left_arrow {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 5;
    text-align:left;
  }

  .headen_key {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;
    text-align:center;
  }

.right_arrow {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 4;
  grid-row-end: 5;
  text-align:right;
}

.character_1{

  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  text-align:center;

}
.character_2{
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 2;
  text-align:center;
}
.left_arrow_index {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
  text-align:left;
}
.headen_key_index {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
  text-align:center;
}
.right_arrow_index {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 3;
  text-align:right;
}


.images{
    width:100%;
}
.images_index{
  width:45%;
}
.middle_page_images{
  width:100%;
  
}
.arrow_image{
   width:18%;
   border-radius: 0%;
}

.student{
    border-radius: 0%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;

}


/* Popup container - can be anything you want */
.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* The actual popup */
.popup .popuptext {
  visibility: hidden;
  width: 300px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 45%;
  left: 50%;
  margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Toggle this class - hide and show the popup */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;} 
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}




@media(min-width:320px){
  .images{
    width:100%;
}

}

@media(min-width:640px){
  .images{
    width:100%;
}

}

@media(min-width:960px){
  .images{
    width:80%;
}
.middle_page_images{
  width:100%;
}
}

@media(min-width:600px){
  .images{
    width:60%;
}
.middle_page_images{
  width:100%;
}
}

@media(min-width:1024px){
  .images{
    width:40%;
}
.middle_page_images{
  width:65%;
}
}

@media(min-width:1920px){
  .images{
    width:75%;
}
.middle_page_images{
  width:60%;
}
}
@media(min-width:3840px){
  .images{
    width:25%;
}
.middle_page_images{
  width:70%;
}
}